/* About.css */

.about-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-heading {
    text-align: center;
    color: #333;
  }
  
  .about-content {
    margin-top: 20px;
  }
  
  .about-content p {
    margin-bottom: 10px;
  }
  
  .about-content ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .about-content ul li {
    margin-bottom: 5px;
  }
  